langchain
openai
transformers
langchain_community
langchain_huggingface
langserve
fastapi
uvicorn
sse_starlette
ipykernel
bs4
pypdf
chromadb
wikipedia
arxiv
langchainhub
langchain-groq
beautifulsoup4
groq
streamlit